<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            id="topsreport"
            maxThreadCount="5"
            name="TOPS报表转换器"
            processorActivater="com.bizvpm.dps.processor.topsreport.TOPSReportStarter"
            runnable="com.bizvpm.dps.processor.topsreport.TOPSReportProcessor">
         <parameter
               name="file"
               type="uncheck">
         </parameter>
         <parameter
               name="serverPath"
               type="String">
         </parameter>
      </processor>
      <processor
            id="drawing.fishbonediagram"
            maxThreadCount="5"
            name="创建鱼骨图"
            processorActivater="com.bizvpm.dps.processor.drawing.FishboneDiagramStarter"
            runnable="com.bizvpm.dps.processor.drawing.CreateFishboneDiagram">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="processor"
            class="com.bizvpm.dps.processor.topsreport.PreferencePage"
            id="com.bizvpm.dps.processor.topsreport.PreferencePage"
            name="TOPS报表转换器">
      </page>
   </extension>

</plugin>
