<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            id="email.send"
            maxThreadCount="2"
            name="发送邮件处理器"
            processorActivater="com.bizvpm.dps.processor.email.preferences.EmailProcessorStarter"
            runnable="com.bizvpm.dps.processor.email.SendEMailProcessor">
         <parameter
               description="simple:纯文本邮件,multipart带附件的MIME邮件,html带HTML格式的邮件,imghtml带嵌入图片的HTML文本"
               name="emailType"
               optional="false"
               type="String">
            <restriction
                  value="html">
            </restriction>
            <restriction
                  value="imghtml">
            </restriction>
            <restriction
                  value="multipart">
            </restriction>
            <restriction
                  value="simple">
            </restriction>
         </parameter>
         <parameter
               description="邮件主题"
               name="title"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="内容"
               name="message"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="接收者，例如: zh@yaozheng.com.cn:钟华 如果不用冒号可以直接写对方邮箱地址"
               name="to"
               optional="false"
               type="List">
         </parameter>
         <parameter
               description="抄送"
               name="cc"
               optional="true"
               type="List">
         </parameter>
         <parameter
               description="发送者,:分割例如 zh@abc.com:张三"
               name="from"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="是否使用服务器用户名地址发送"
               name="useServerAddress"
               optional="false"
               type="Boolean">
         </parameter>
         <parameter
               description="不使用服务器发送的smtp设置"
               name="smtpHost"
               type="String">
         </parameter>
         <parameter
               description="不使用服务器发送的smtp设置"
               name="smtpPort"
               type="Integer">
         </parameter>
         <parameter
               description="不使用服务器发送的smtp设置"
               name="smtpUseSSL"
               type="Boolean">
         </parameter>
         <parameter
               description="不使用服务器发送的smtp设置"
               name="senderAddress"
               type="String">
         </parameter>
         <parameter
               description="不使用服务器发送的smtp设置"
               name="senderPassword"
               type="String">
         </parameter>
         <parameter
               description="邮件附件列表，List&lt;Map&lt;String,Object&gt;&gt;, Map中两个参数，file(可以是服务端文件的File，也可以是url字符串),filename邮件上显示的附件名称"
               name="attachment"
               type="List">
         </parameter>
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="processor"
            class="com.bizvpm.dps.processor.email.preferences.EmailPreferencePage"
            id="com.bizvpm.dps.processor.email.preferences.EmailPreferencePage"
            name="邮件发送设置">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bizvpm.dps.processor.email.preferences.EMailPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
