<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            catalog="ETL"
            id="pms.projectMonthETL"
            maxThreadCount="10"
            name="PMS 项目月度ETL"
            runnable="com.bizvpm.dps.processor.pmsetl.ProjectMonthETLService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="年"
               name="year"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="月(3位，左侧补0。例如：1月--001；2月--002；...11月--011；12月--012）"
               name="month"
               optional="false"
               type="String">
         </parameter>
      </processor>
      <processor
            catalog="ETL"
            id="pms.organizationMonthETL"
            maxThreadCount="10"
            name="PMS 组织月度ETL"
            runnable="com.bizvpm.dps.processor.pmsetl.OrganizationMonthETLService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="年"
               name="year"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="月(3位，左侧补0。例如：1月--001；2月--002；...11月--011；12月--012）"
               name="month"
               optional="false"
               type="String">
         </parameter>
      </processor>
      <processor
            catalog="ETL"
            id="pms.EPSMonthETL"
            maxThreadCount="10"
            name="PMS EPS月度ETL"
            runnable="com.bizvpm.dps.processor.pmsetl.EPSMonthETLService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="年"
               name="year"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="月(3位，左侧补0。例如：1月--001；2月--002；...11月--011；12月--012）"
               name="month"
               optional="false"
               type="String">
         </parameter>
      </processor>
      <processor
            catalog="ETL"
            id="pms.porductMonthETL"
            maxThreadCount="10"
            name="PMS 物料月度ETL"
            runnable="com.bizvpm.dps.processor.pmsetl.PorductMonthETLService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="年"
               name="year"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="月(3位，左侧补0。例如：1月--001；2月--002；...11月--011；12月--012）"
               name="month"
               optional="false"
               type="String">
         </parameter>
      </processor>
   </extension>

</plugin>
