<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            catalog="转换器/Office文件"
            description="使用WPS软件转换Office格式文件为PDF"
            id="wps.wpsconverter"
            maxThreadCount="5"
            name="WPS文件转换处理器"
            runnable="com.bizvpm.dps.processor.wps.WPSProcessor">
         <parameter
               description="需转换的文件"
               name="file"
               optional="false"
               type="uncheck">
         </parameter>
         <parameter
               name="sourceType"
               optional="false"
               type="String">
            <restriction
                  value="doc">
            </restriction>
            <restriction
                  value="docx">
            </restriction>
            <restriction
                  value="wps">
            </restriction>
            <restriction
                  value="xls">
            </restriction>
            <restriction
                  value="xlsx">
            </restriction>
            <restriction
                  value="et">
            </restriction>
            <restriction
                  value="ppt">
            </restriction>
            <restriction
                  value="pptx">
            </restriction>
            <restriction
                  value="dps">
            </restriction>
         </parameter>
         <parameter
               name="targetType"
               optional="false"
               type="String">
            <restriction
                  value="pdf">
            </restriction>
         </parameter>
      </processor>
   </extension>

</plugin>
