<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="processor" name="Processor" schema="schema/processor.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="DPS"
            application="com.bizvpm.dps.app">
         <property
               name="appName"
               value="DPS">
         </property>
         <property
               name="appName"
               value="com.bizvpm.dps">
         </property>
         <property
               name="aboutImage"
               value="icons/product_lg.png">
         </property>
         <property
               name="aboutText"
               value="Distribute Processing Server&#x0A;&#x0A;BizVision Software.">
         </property>
         <property
               name="windowImages"
               value="icons/processor_16.png,icons/dps.png,icons/product_lg.png">
         </property>
      </product>
   </extension>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.bizvpm.dps.ui.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="监视"
            class="com.bizvpm.dps.ui.Perspective"
            id="dps.perspective.minitor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="处理器服务描述"
            allowMultiple="false"
            icon="icons/document_s_16.png"
            class="com.bizvpm.dps.ui.view.ProcessManagerServiceBrowser"
            id="dps.xml">
      </view>
      <view
            name="实时任务处理进度"
            allowMultiple="false"
            icon="icons/progress_16.png"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="dps.progress">
      </view>
      <view
            allowMultiple="false"
            class="com.bizvpm.dps.ui.view.ProcessorsView"
            icon="icons/processor_16.png"
            id="dps.processors"
            name="本地处理器">
      </view>
      <view
            allowMultiple="false"
            class="com.bizvpm.dps.ui.view.ProcessorTasksView"
            icon="icons/work_16.gif"
            id="dps.processortasks"
            name="处理器任务列表">
      </view>
      <view
            allowMultiple="false"
            class="com.bizvpm.dps.ui.view.ServersView"
            icon="icons/server_16.png"
            id="dps.server"
            name="注册服务器列表">
      </view>
      <view
            allowMultiple="false"
            class="com.bizvpm.dps.ui.view.ProcessorParametersView"
            icon="icons/columns_16.png"
            id="dps.processorparameters"
            name="处理器参数">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="dps.perspective.minitor">
         <view
               closeable="false"
               id="dps.processors"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="dps.processorparameters"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="right"
               relative="dps.processors"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="dps.progress"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="dps.processorparameters"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="dps.processortasks"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="dps.processorparameters"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="dps.xml"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="dps.processortasks"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="dps.server"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="dps.processors"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:dps.processortasks">
         <command
               commandId="dps.refresh"
               icon="icons/refresh_16.png"
               style="push">
         </command>
         <command
               commandId="dps.clean"
               icon="icons/remove_16.png"
               style="push">
         </command>
         <command
               commandId="dps.remove"
               icon="icons/delete_16.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:dps.processors">
         <command
               commandId="dps.startprocessor"
               icon="icons/wip_16.png"
               style="push">
         </command>
         <command
               commandId="dps.stopprocessor"
               icon="icons/work2_pause_16.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="dps.refresh"
            name="刷新">
      </command>
      <command
            id="dps.remove"
            name="删除">
      </command>
      <command
            id="dps.clean"
            name="清空">
      </command>
      <command
            id="dps.startprocessor"
            name="启动">
      </command>
      <command
            id="dps.stopprocessor"
            name="停止">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bizvpm.dps.ui.command.Refresh"
            commandId="dps.refresh">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.bizvpm.dps.ui.view.IRefreshable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bizvpm.dps.ui.command.StopProcessor"
            commandId="dps.stopprocessor">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="dps.processors">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="com.bizvpm.dps.service.ProcessorConfig">
                     </instanceof>
                     <test
                           property="processor.online"
                           value="true">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.bizvpm.dps.ui.command.StartProcessor"
            commandId="dps.startprocessor">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="dps.processors">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="com.bizvpm.dps.service.ProcessorConfig">
                     </instanceof>
                     <test
                           property="processor.online"
                           value="false">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.bizvpm.dps.ui.command.Remove"
            commandId="dps.remove">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.bizvpm.dps.service.Task">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="dps.processortasks">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.bizvpm.dps.ui.command.Clean"
            commandId="dps.clean">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.bizvpm.dps.ui.view.IRemoveable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bizvpm.dps.ui.preference.ProcessorPage"
            id="processor"
            name="处理器设置">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.bizvpm.dps.ui.ProcessorOnlineTester"
            id="processor"
            namespace="processor"
            properties="online"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
