<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            catalog="转换器"
            description="根据记录生成指定文件的PDF文件并写入数据库"
            id="pms.visualservice"
            maxThreadCount="10"
            name="PMS可视化服务"
            runnable="com.bizvpm.dps.processor.pmsvis.VisualService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="文件记录的_id"
               name="_id"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="集合名称"
               name="col"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="可视化文件写入的目标集合"
               name="target"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="office文件转换器id，默认为com.bizvpm.dps.processor.openoffice:openoffice.converter"
               name="officeConvertor"
               optional="true"
               type="String">
         </parameter>
         <parameter
               description="office文件转换器id，默认com.bizvpm.dps.processor.acmecad:acmecad.acmecadconverter"
               name="dwgConvertor"
               optional="true"
               type="String">
         </parameter>
         <parameter
               description="文件转换器配置"
               name="convertorConfig"
               optional="true"
               type="List">
         </parameter>
      </processor>
      <processor
            catalog="转换器"
            description="根据记录生成指定文件的PDF文件并返回"
            id="pms.pdfgen"
            maxThreadCount="10"
            name="PMS文件生成PDF"
            runnable="com.bizvpm.dps.processor.pmsvis.PDFGenService">
         <parameter
               description="对应PMS6的企业域，也是数据库名"
               name="domain"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="文件记录的_id"
               name="_id"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="集合名称"
               name="col"
               optional="false"
               type="String">
         </parameter>
         <parameter
               description="office文件转换器id，默认为com.bizvpm.dps.processor.openoffice:openoffice.converter"
               name="officeConvertor"
               optional="true"
               type="String">
         </parameter>
         <parameter
               description="office文件转换器id，默认com.bizvpm.dps.processor.acmecad:acmecad.acmecadconverter"
               name="dwgConvertor"
               optional="true"
               type="String">
         </parameter>
         <parameter
               description="文件转换器配置"
               name="convertorConfig"
               optional="true"
               type="List">
         </parameter>
      </processor>
   </extension>

</plugin>
