<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            catalog="转换器/Office文件"
            description="使用Open Office"
            id="openoffice.converter"
            maxThreadCount="5"
            name="OpenOffice文件转换处理器"
            processorActivater="com.bizvpm.dps.processor.openoffice.Starter"
            runnable="com.bizvpm.dps.processor.openoffice.OpenOfficeProcessor">
         <parameter
               description="传入Inputstream"
               name="file"
               optional="true"
               type="uncheck">
         </parameter>
         <parameter
               description="源文件的类型"
               name="sourceType"
               optional="false"
               type="String">
            <restriction
                  value="doc">
            </restriction>
            <restriction
                  value="docx">
            </restriction>
            <restriction
                  value="rtf">
            </restriction>
            <restriction
                  value="txt">
            </restriction>
            <restriction
                  value="csv">
            </restriction>
            <restriction
                  value="xls">
            </restriction>
            <restriction
                  value="xlsx">
            </restriction>
            <restriction
                  value="ppt">
            </restriction>
            <restriction
                  value="pptx">
            </restriction>
            <restriction
                  value="html">
            </restriction>
         </parameter>
         <parameter
               description="目标文件的类型"
               name="targetType"
               optional="false"
               type="String">
            <restriction
                  value="doc">
            </restriction>
            <restriction
                  value="docx">
            </restriction>
            <restriction
                  value="rtf">
            </restriction>
            <restriction
                  value="txt">
            </restriction>
            <restriction
                  value="csv">
            </restriction>
            <restriction
                  value="xls">
            </restriction>
            <restriction
                  value="xlsx">
            </restriction>
            <restriction
                  value="ppt">
            </restriction>
            <restriction
                  value="pptx">
            </restriction>
            <restriction
                  value="html">
            </restriction>
            <restriction
                  value="swf">
            </restriction>
            <restriction
                  value="pdf">
            </restriction>
         </parameter>
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="processor"
            class="com.bizvpm.dps.processor.openoffice.preferences.OpenOfficePreferencePage"
            id="com.bizvpm.dps.processor.openoffice.preferences.OpenOfficePreferencePage"
            name="Open Office 转换设置">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.bizvpm.dps.processor.openoffice.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
