<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.bizvpm.dps.processor">
      <processor
            description="使用Acme CAD Converter进行文件转换"
            id="acmecad.acmecadconverter"
            maxThreadCount="5"
            name="AutoCAD文件转换处理器"
            processorActivater="com.bizvpm.dps.processor.acmecad.preferences.AcmeCADStarter"
            runnable="com.bizvpm.dps.processor.acmecad.AcmeCADProcessor">
         <parameter
               description="需转换文件"
               name="file"
               optional="false"
               type="DataHandler">
         </parameter>
         <parameter
               description="源文件类型"
               name="sourceType"
               optional="false"
               type="String">
            <restriction
                  value="dwg">
            </restriction>
            <restriction
                  value="dxf">
            </restriction>
            <restriction
                  value="dwf">
            </restriction>
         </parameter>
         <parameter
               description="目标文件类型"
               name="targetType"
               optional="false"
               type="String">
            <restriction
                  value="bmp">
            </restriction>
            <restriction
                  value="jpg">
            </restriction>
            <restriction
                  value="gif">
            </restriction>
            <restriction
                  value="pcx">
            </restriction>
            <restriction
                  value="tiff">
            </restriction>
            <restriction
                  value="png">
            </restriction>
            <restriction
                  value="tga">
            </restriction>
            <restriction
                  value="wmf">
            </restriction>
            <restriction
                  value="svg">
            </restriction>
            <restriction
                  value="plt">
            </restriction>
            <restriction
                  value="hgl">
            </restriction>
            <restriction
                  value="pdf">
            </restriction>
            <restriction
                  value="svgz">
            </restriction>
            <restriction
                  value="cgm">
            </restriction>
            <restriction
                  value="eps">
            </restriction>
         </parameter>
         <parameter
               description="自动变焦"
               name="autoZoomExtend"
               optional="false"
               type="Boolean">
         </parameter>
         <parameter
               description="光栅像素格式[1--1_bit格式,2--灰度格式,3--256颜色,建议使用1--1_bit格式]"
               name="rasterPixel"
               optional="false"
               type="Integer">
            <restriction
                  value="1">
            </restriction>
            <restriction
                  value="2">
            </restriction>
            <restriction
                  value="3">
            </restriction>
         </parameter>
         <parameter
               description="背景颜色[0--黑,1--红,2--黄,3--绿,4--水,5--蓝,6--红,7--白,8--黑灰色,建议使用7--白]"
               name="backgroundColor"
               optional="false"
               type="Integer">
            <restriction
                  value="0">
            </restriction>
            <restriction
                  value="1">
            </restriction>
            <restriction
                  value="2">
            </restriction>
            <restriction
                  value="3">
            </restriction>
            <restriction
                  value="4">
            </restriction>
            <restriction
                  value="5">
            </restriction>
            <restriction
                  value="6">
            </restriction>
            <restriction
                  value="7">
            </restriction>
            <restriction
                  value="8">
            </restriction>
         </parameter>
         <parameter
               description="线宽[0--禁用.1--使用打印样式和线宽.2--要启用使用绘图样式,但忽略线宽.建议使用1--使用打印样式和线宽]"
               name="lineWeight"
               optional="false"
               type="Integer">
            <restriction
                  value="0">
            </restriction>
            <restriction
                  value="1">
            </restriction>
            <restriction
                  value="2">
            </restriction>
         </parameter>
         <parameter
               description="使转换后的绘图自动符合当前页面大小"
               name="autoSize"
               optional="false"
               type="Boolean">
         </parameter>
         <parameter
               description="光栅宽度[默认为800像素.支持其它单位,如(400mm=400毫米,12in=12英寸).如果不设置单位默认为像素.当设置autoSize为true时,可不设置该选项]"
               name="rasterWidth"
               type="String">
         </parameter>
         <parameter
               description="光栅高度[默认为600像素.支持其它单位,如(400mm=400毫米,12in=12英寸).如果不设置单位默认为像素.当设置autoSize为true时,可不设置该选项]"
               name="rasterHeight"
               type="String">
         </parameter>
         <parameter
               description="如果可能的话,使用布局纸张大小"
               name="layoutPaperSize"
               type="Boolean">
         </parameter>
         <parameter
               description="输出光栅文件"
               name="maskRaster"
               type="Boolean">
         </parameter>
         <parameter
               description="输出预设水印"
               name="presetWatermark"
               type="Boolean">
         </parameter>
         <parameter
               description="使用文件作为水印"
               name="presetWatermarkFile"
               type="DataHandler">
         </parameter>
         <parameter
               description="输出质量,指每英寸多少像素"
               name="dpi"
               type="Integer">
         </parameter>
         <parameter
               description="JPEG质量,[1最小,10最高,默认是10.在targetType为jpg时使用]"
               name="jpegQuality"
               type="Integer">
            <restriction
                  value="1">
            </restriction>
            <restriction
                  value="2">
            </restriction>
            <restriction
                  value="3">
            </restriction>
            <restriction
                  value="4">
            </restriction>
            <restriction
                  value="5">
            </restriction>
            <restriction
                  value="6">
            </restriction>
            <restriction
                  value="7">
            </restriction>
            <restriction
                  value="8">
            </restriction>
            <restriction
                  value="9">
            </restriction>
            <restriction
                  value="10">
            </restriction>
         </parameter>
         <parameter
               description="使用钢笔,使用该选项必须预设好对应笔名字的钢笔"
               name="penSetName"
               type="String">
         </parameter>
         <parameter
               description="指定隐藏线消除模式.[0--不消除,1--自动,2--强制]"
               name="lineRemoval"
               type="Integer">
            <restriction
                  value="0">
            </restriction>
            <restriction
                  value="1">
            </restriction>
            <restriction
                  value="2">
            </restriction>
         </parameter>
         <parameter
               description="导出时缩放比.[设置一个数值进行导出时的缩放,只在导出PDF格式时有效]"
               name="scale"
               type="Double">
         </parameter>
         <parameter
               description="页边距.[单位为英寸,只在导出PDF格式时设置scale后有效]"
               name="margin"
               type="Double">
         </parameter>
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="processor"
            class="com.bizvpm.dps.processor.acmecad.preferences.AcmePreferencePage"
            id="com.bizvpm.dps.processor.acmecad.preferences.AcmePreferencePage"
            name="AutoCAD转换器">
      </page>
   </extension>
</plugin>
